body{
    margin: 0;
    background-color: #0d1117;
    color: #e6edf3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
}

header{
    background-color: #161b22;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}


.banner{
    text-align: center;
    background: linear-gradient(145deg, #0b0f13, #222934);
    padding: 20px 30px;
}

img{
    width: 280px ;
    height: 280px;
}

div{
    background-color: #222934;
    border-radius: 10px;
    width: 800px;
    display: inline-block;
    margin: 50px 10px auto;
    padding: 50px;
    vertical-align: top;
}

footer{
    background-color: #000000;
    text-align: center;
    padding: 15px;
}